    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">{{ site.author.name }}</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="/cv/">CV</a></li>
              <li><a href="//github.com/geve82" target="_blank">Github</a></li>
              <li><a href="//gw.geneanet.org/igreg82" target="_blank">Généalogie</a></li>
            </ul>

            <ul class="nav pull-right">
              <li><a title="Linkedin" href="http://fr.linkedin.com/pub/gr%C3%A9gory-eve/20/130/1a6" target="_blank"><img title="Linkedin" src="/img/icons/linkedin.png" alt="Linkedin" width="20" height="20" /></a></li>
              <li><a title="Viadeo" href="http://viadeo.com/s/Gg0gC" target="_blank"><img title="Linkedin" src="/img/icons/viadeo.png" alt="Viadeo" width="20" height="20" /></a></li>
              <li><a title="Twitter" href="http://www.twitter.com/geve82" target="_blank"><img title="Linkedin" src="/img/icons/twitter.png" alt="Twitter" width="20" height="20" /></a></li>
              <li><a title="Facebook" href="http://www.facebook.com/gregory.eve" target="_blank"><img title="Facebook" src="/img/icons/facebook.png" alt="Twitter" width="20" height="20" /></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>

