<div class="social-bar right">
  <a title="Linkedin" href="//fr.linkedin.com/pub/gr%C3%A9gory-eve/20/130/1a6" target="_blank"><img title="Linkedin" src="/img/icons/linkedin.png" alt="Linkedin" width="20" height="20" /></a>
  <a title="Viadeo" href="//viadeo.com/s/Gg0gC" target="_blank"><img title="Linkedin" src="/img/icons/viadeo.png" alt="Viadeo" width="20" height="20" /></a>
  <a title="Twitter" href="//www.twitter.com/geve82" target="_blank"><img title="Linkedin" src="/img/icons/twitter.png" alt="Twitter" width="20" height="20" /></a>
  <a title="Facebook" href="//www.facebook.com/gregory.eve" target="_blank"><img title="Facebook" src="/img/icons/facebook.png" alt="Twitter" width="20" height="20" /></a>
  <a title="Google Plus" href="//plus.google.com/100495664853504984612?rel=author" rel="publisher" target="_blank"><img src="//ssl.gstatic.com/images/icons/gplus-16.png" alt="Google+" width="16" height="16" /></a>
</div>
